
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins" , sans-serif;  
    background-color: aquamarine; 
}

html{
    font-size: 65%;
}

main{
    max-width: 1024px;
    margin: auto;
    padding: 32px 0;
}

.input{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #7f7f7f;
    outline: none;
    padding: 21px 40px;
    width: 400px;
}

.button{
    background-color: #1D4FFE;
    color: #ffffff;
    font-size: 1.8rem;
    border: 0;
    border-radius: 4px;
    padding: 18px 32px;
}

